<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django Templates...</title>
</head>
<body>
    <table>
        <tr>
            <th>Student Roll Number</th>
            <th>Student Name</th>
            <th>Result</th>
        </tr>
        <tr>
            <th>101</th>
            <th>Raaj</th>
            <th>Pass</th>
        </tr>
        <tr>
            <th>102</th>
            <th>sujita</th>
            <th>Fail</th>
        </tr>
    </table>
</body>
</html>